.search-bar {
    position: absolute;
    top: 10%;
    left: 50%;
    display: flex;
    transform: translate(-50%,-50%);
    background: #000;
    width: 500px;
    height: 55px;
    padding: 0.2rem 0.6rem 0.2rem 0.2rem;  
    box-sizing: border-box;
    box-shadow: 1px 1px 0 0 #000,
                2px 2px 0 0 #000,
                3px 3px 0 0 #000,
                4px 4px 0 0 #000,
                5px 5px 0 0 #000,
                6px 6px 0 0 #000
  }
  .search-bar input {
    border: 0;
    outline: none;
    height: 100%;
    width: 85%;
    padding: 0 1rem;
    font-size: 1rem;
    font-style: italic;
  }
  .search-bar button {
    margin-left: auto;
    background: none;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
    outline: none;
  }
  
  
  
  